<div class="row">
	<div class="col-md-4 col-md-offset-4 deviseform">
		<h2>Login</h2>

		<% if @user.errors.any? %>
		  <div id="error_explanation">
		  	<% if @user.errors.to_a.include?("inv") %>
		  		<h2>Invalid login credentials.</h2>
		  	<% else %>
		    <h2>
		      The form contains <%= pluralize(@user.errors.count, "error") %>.
		    </h2>
		    <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		    <% end %>
		  </div>
		<% end %>

		<%= form_for(@user, :url => loginattempt_path(@user)) do |f| %>
	    <div class="form-group row">
	      <%= f.label :username, class: "col-xs-2 control-label" %>
	      <div class="col-xs-8">
	        <%= f.text_field :username, :autofocus => true, class: "field__input" %>
	      </div>
	    </div>
	    <div class="form-group row">
	      <%= f.label :password, class: "col-xs-2 control-label" %>
	      <div class="col-xs-8">
	        <%= f.password_field :password, class: "field__input" %>
	      </div>
	    </div>
		  <%= f.submit "Login", class: "btn btn-primary" %>
		<% end %>

	</div>
</div>
