<div class="row">
	<div class="col-md-4 col-md-offset-4 deviseform">
		<h2>Sign up</h2>

		<% if @user.errors.any? %>
		  <div id="error_explanation">
		    <h2>
		      The form contains <%= pluralize(@user.errors.count, "error") %>.
		    </h2>
		    <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

		<%= form_for(@user, :url => usercreate_path(@user)) do |f| %>
	    <div class="form-group row">
	      <%= f.label :username, class: "col-xs-2 control-label" %>
	      <div class="col-xs-8">
	        <%= f.text_field :username, :autofocus => true, class: "field__input" %>
	      </div>
	    </div>		
	    <div class="form-group row">
	      <%= f.label :email, class: "col-xs-2 control-label" %>
	      <div class="col-xs-8">
	        <%= f.email_field :email, :autofocus => true, class: "field__input" %>
	      </div>
	    </div>
	    <div class="form-group row">
	      <%= f.label :password, class: "col-xs-2 control-label" %>
	      <div class="col-xs-8">
	        <%= f.password_field :password, class: "field__input" %>
	      </div>
	    </div>
	    <div class="form-group row">
	      <%= f.label :password_confirmation, "Confirm", class: "col-xs-2 control-label" %>
	      <div class="col-xs-8">
	        <%= f.password_field :password_confirmation, class: "field__input" %>
	      </div>
	    </div>
		  <%= f.submit "Sign up", class: "btn btn-primary" %>
		<% end %>

	</div>
</div>
